#budget{
  width: 100%;
  max-width: 500px;
}

#budget-white-bar{
  padding: 2px 20px;

  background: white;
  color: black;
  @include row(space-between);
  font-size: 12px;
}

.white{
  color: white;
}

#edit-budget{
  position: fixed;
  transform: translate-x(-50%);
// This needs to be fixed.
  width: 90%;
  bottom: 20px;
}