.edit__input{
  background: none;
  color: white;
  // border: none;
  width: 100px;
}

.input{
  background: none;
  border: none;
  color: white;
  height: 20px;
  font-size: inherit;
  font-family: inherit;
}
