@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #4d4d4d;
  min-height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 16px;
  height: 40px;
  width: 100%;
  background: #fe8626;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background: #ff7300;
}

#obligatory-div {
  height: calc(100vh - 200px);
  width: 100%;
  max-width: 500px;
}

#everything-but-the-header {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top-stuff {
  width: 100%;
  border-bottom: 3px solid #8a8a8a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.white-bar {
  padding: 2px 20px;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.white-bar__small {
  width: 24.5%;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

.button-container {
  margin-bottom: 16px;
  width: 100%;
  padding: 0px 20px;
}

a {
  color: white;
  text-decoration: none;
}

#dashboard {
  margin: 20px auto;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__line {
  margin: 8px 0px;
  border-bottom: 2.5px solid white;
  height: 0px;
  width: 120px;
}

.circle {
  margin: 0px 20px;
  border: 4px solid white;
  border-radius: 70px;
  height: 120px;
  width: 120px;
  background: #fe8626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit__input {
  background: none;
  width: 100px;
}

.edit__buttons-container {
  width: 90%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  background: none;
  border: none;
  color: inherit;
  height: 20px;
  font-size: inherit;
  font-family: inherit;
}

.edit__add-category {
  background: gray;
  margin: 0;
  border-radius: 0;
}

#header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 20px;
  background: #fe8626;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
}

.header-icon {
  height: 20px;
  width: 20px;
  border: 1px solid white;
}

.list {
  max-height: calc(100vh - 350px);
  overflow: scroll;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  margin: 0 16px;
  border-bottom: 2px solid #8a8a8a;
}

.list-item:last-of-type {
  border: none;
}

.priority-percentage {
  color: gold;
}

.overflow {
  color: #8a8a8a;
}

.list-item__display {
  width: 24.5%;
  overflow: scroll;
}

.main {
  width: 50%;
}

.medium {
  width: 21%;
}

.small {
  width: 18%;
}

.big {
  width: 40%;
}

.green {
  color: #93ff80;
}

.red {
  color: #ff9880;
}

.trans__buttons-container {
  margin: 20px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trans__button-not {
  background: none;
  border: 3px solid #999;
}

.button__spacer {
  width: 40px;
}

#trans-info-container {
  margin: 0px 20px;
}

.trans__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 8px 0px;
  border-top: 2px solid #999;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.trans__info span {
  margin-right: 10px;
  border-right: 2px solid #999;
  width: 110px;
  color: orange;
}

.trans__info ::-webkit-input-placeholder {
  color: #999;
}

.trans__info :-ms-input-placeholder {
  color: #999;
}

.trans__info ::-ms-input-placeholder {
  color: #999;
}

.trans__info ::placeholder {
  color: #999;
}

.trans__info input {
  margin-left: 5px;
  border: none;
  width: 64%;
  outline: none;
  background: none;
  color: white;
  font-size: 14px;
}

.trans__category {
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trans__category:hover {
  cursor: pointer;
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.close {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.trans-modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  color: #4d4d4d;
  width: 80%;
  max-height: 80%;
  overflow: scroll;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  left: 10%;
  top: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.trans-modal__header {
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  padding: 8px;
  background: #fe8626;
  color: white;
}

.trans-modal__exit {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.trans-modal__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 8px;
  padding: 8px 0;
  overflow: scroll;
  border-bottom: 2px solid #ccc;
}

.trans-modal__category:hover {
  cursor: pointer;
}

.trans-modal__category:last-of-type {
  border: none;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.transparent {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */